<a href="https://colab.research.google.com/github/NabilOulbaz/Bertweet_finetuning/blob/main/datasets_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from pathlib import Path
from numpy.core.fromnumeric import transpose

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#SemEval2018

In [ ]:
%cd "/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/s18"

/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/s18

In [ ]:
%ls

E-c-En-dev.txt  E-c-En-test.txt  E-c-En-train.txt

In [ ]:
df_test = pd.read_csv('E-c-En-dev.txt', sep ='\t')

In [ ]:
df_test.head()

,ID,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
0,2018-En-00866,"@RanaAyyub @rajnathsingh Oh, hidden revenge an...",1,0,1,0,0,0,0,0,0,0,0
1,2018-En-02590,I'm doing all this to make sure you smiling do...,0,0,0,0,1,1,1,0,0,0,0
2,2018-En-03361,if not then #teamchristine bc all tana has don...,1,0,1,0,0,0,0,0,0,0,0
3,2018-En-03230,It is a #great start for #beginners to jump in...,0,0,0,0,1,0,1,0,0,0,0
4,2018-En-01143,My best friends driving for the first time wit...,0,0,0,1,0,0,0,0,0,0,0

In [ ]:
df_test.shape

(886, 13)

In [ ]:
df_test = df_test[~((df_test['anger']==1)&(df_test['joy']==1)&(df_test['sadness']==1)&(df_test['disgust']==1)&(df_test['fear']==1))]
df_test = df_test[~((df_test['anger']==1)&(df_test['joy']==1)&(df_test['sadness']==1))]
df_test = df_test[~((df_test['fear']==1)&(df_test['joy']==1)&(df_test['sadness']==1))]
df_test = df_test[~((df_test['disgust']==1)&(df_test['joy']==1)&(df_test['sadness']==1))]
df_test = df_test[~((df_test['anger']==1)&(df_test['joy']==1))]
df_test = df_test[~((df_test['disgust']==1)&(df_test['joy']==1))]
df_test = df_test[~((df_test['fear']==1)&(df_test['joy']==1))]
df_test[~((df_test['anger']==1)&(df_test['sadness']==1))]
df_test[~((df_test['disgust']==1)&(df_test['sadness']==1))]
df_test[~((df_test['fear']==1)&(df_test['sadness']==1))]
df_test = df_test[~((df_test['joy']==1)&(df_test['sadness']==1))]

In [ ]:
df_test['emotion'] = 'other'

In [ ]:
df_test.loc[df_test['anger']==1,'emotion'] = 'anger'
df_test.loc[df_test['fear']==1,'emotion'] = 'anger'
df_test.loc[df_test['disgust']==1,'emotion'] = 'anger'
df_test.loc[df_test['joy']==1,'emotion'] = 'joy'
df_test.loc[df_test['sadness']==1,'emotion'] = 'sadness'

In [ ]:
df_test.head()

,ID,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust,emotion
0,2018-En-00866,"@RanaAyyub @rajnathsingh Oh, hidden revenge an...",1,0,1,0,0,0,0,0,0,0,0,anger
1,2018-En-02590,I'm doing all this to make sure you smiling do...,0,0,0,0,1,1,1,0,0,0,0,joy
2,2018-En-03361,if not then #teamchristine bc all tana has don...,1,0,1,0,0,0,0,0,0,0,0,anger
3,2018-En-03230,It is a #great start for #beginners to jump in...,0,0,0,0,1,0,1,0,0,0,0,joy
4,2018-En-01143,My best friends driving for the first time wit...,0,0,0,1,0,0,0,0,0,0,0,anger

In [ ]:
df_test['emotion'].value_counts()

joy        302
anger      221
sadness    217
other       48
Name: emotion, dtype: int64

In [ ]:
df_test = df_test[['Tweet','emotion']]

In [ ]:
df_test.to_csv(Path('/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/cleaned_new/s18_validation.csv'), index=False)

#SemEval2019

In [ ]:
%cd "/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/s19"

/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/s19

In [ ]:
%ls

dev.txt  test.txt  train.txt

In [ ]:
df_test = pd.read_csv('test.txt', sep = '\t')

In [ ]:
df_test['Dialogue'] = df_test['turn1']+' '+df_test['turn2']+' '+df_test['turn3']

In [ ]:
df_test.head(4)

,id,turn1,turn2,turn3,label,Dialogue
0,0,Hmm,What does your bio mean?,I don’t have any bio,others,Hmm What does your bio mean? I don’t have any bio
1,1,What you like,very little things,Ok,others,What you like very little things Ok
2,2,Yes,How so?,I want to fuck babu,others,Yes How so? I want to fuck babu
3,3,what did you guess,what what,fuck,others,what did you guess what what fuck

In [ ]:
df_test = df_test[['Dialogue','label']]

In [ ]:
df_test.columns = ['dialogue','emotion']

In [ ]:
df_test['emotion'].replace('angry','anger',inplace=True)
df_test['emotion'].replace('happy','joy',inplace=True)
df_test['emotion'].replace('sad','sadness',inplace=True)
df_test['emotion'].replace('others','other',inplace=True)

In [ ]:
df_test['emotion'].value_counts()

other      4677
anger       298
joy         284
sadness     250
Name: emotion, dtype: int64

In [ ]:
df_test.shape

(5509, 2)

In [ ]:
df_test.to_csv(Path('/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/cleaned_new/s19_train.csv'), index=False)

#DailyDialogue

In [ ]:
%cd "/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/dd"

/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/dd

In [ ]:
%ls

dialogues_emotion_test.txt        dialogues_test.txt
dialogues_emotion_train.txt       dialogues_train.txt
dialogues_emotion_validation.txt  dialogues_validation.txt

In [ ]:
dg_train = pd.read_csv('dialogues_train.txt', sep='\t', header = None)
emo_train = pd.read_csv('dialogues_emotion_train.txt', sep='\t', header = None)

In [ ]:
emo_train.head()

                              0
0      0 6 0 0 0 0 0 0 0 0 3 0
1                      0 0 0 0
2                0 0 0 0 0 0 0
3  0 0 0 0 0 0 0 0 0 4 0 0 4 4
4              0 0 0 0 0 0 0 4

In [ ]:
dgtrain = dg_train.values.tolist()

In [ ]:
dgtrain_list = list()
for sent in dgtrain:
  dgtrain_list.extend(sent[0].split('__eou__'))

In [ ]:
dgtrain = [elm for elm in dgtrain_list if elm !='']

In [ ]:
len(dgtrain)

7740

In [ ]:
emotrain = emo_train.values.tolist()

In [ ]:
emotrain_list = list()
for sent in emotrain:
  emotrain_list.extend(sent[0].split(' '))

In [ ]:
emotrain = [elm for elm in emotrain_list if elm !='']

In [ ]:
data = {'dialogue':dgtrain, 'emotion':emotrain}
dd_train = pd.DataFrame(data=data)

In [ ]:
dd_train['emotion'].replace('1','anger', inplace = True)
dd_train['emotion'].replace('2','anger', inplace = True)
dd_train['emotion'].replace('3','anger', inplace = True)
dd_train['emotion'].replace('4','joy', inplace = True)
dd_train['emotion'].replace('5','sadness', inplace = True)
dd_train['emotion'].replace('6','other', inplace = True)

In [ ]:
dd_train = dd_train[dd_train['emotion']!='0']

In [ ]:
dd_train.to_csv(Path('/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/cleaned_new/dd_train.csv'), index=False)

In [ ]:
dd_train['emotion'].value_counts()

joy        1019
anger       182
other       116
sadness     102
Name: emotion, dtype: int64

# S19 First/Last utterance only

In [ ]:
%cd "/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/s19"

/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/s19

In [ ]:
%ls

dev.txt  test.txt  train.txt

In [ ]:
df_train = pd.read_csv('dev.txt', sep = '\t')

In [ ]:
df_train['Dialogue'] = df_train['turn1']

In [ ]:
df_train = df_train[['Dialogue','label']]

In [ ]:
df_train.columns = ['dialogue','emotion']

In [ ]:
df_train['emotion'].replace('angry','anger',inplace=True)
df_train['emotion'].replace('happy','joy',inplace=True)
df_train['emotion'].replace('sad','sadness',inplace=True)
df_train['emotion'].replace('others','other',inplace=True)

In [ ]:
df_train['emotion'].value_counts()

other      2338
anger       150
joy         142
sadness     125
Name: emotion, dtype: int64

In [ ]:
df_train.to_csv(Path('/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/cleaned/s19_first_turn_valdiation.csv'), index=False)

# Datasets overview

In [ ]:
%cd "/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/cleaned"

/content/drive/MyDrive/M1 ATAL/Stage : EmotionAnalysis/datasets/cleaned

In [ ]:
%ls

dd_test.csv        s18_dev.csv    s18_validation.csv  s19_validation.csv
dd_train.csv       s18_test.csv   s19_test.csv
dd_validation.csv  s18_train.csv  s19_train.csv

In [ ]:
s18_train = pd.read_csv('s18_train.csv')
s19_train = pd.read_csv('s19_train.csv')
dd_train = pd.read_csv('dd_train.csv')

In [ ]:
s18_test = pd.read_csv('s18_test.csv')
s19_test = pd.read_csv('s19_test.csv')
dd_test = pd.read_csv('dd_test.csv')

In [ ]:
s18_val = pd.read_csv('s18_validation.csv')
s19_val = pd.read_csv('s19_validation.csv')
dd_val = pd.read_csv('dd_validation.csv')

In [ ]:
dd_train['emotion'].value_counts()

joy        11182
other       2049
sadness      969
anger        827
Name: emotion, dtype: int64

In [ ]:
dd_val['emotion'].value_counts()

joy        684
other      121
sadness     79
anger       77
Name: emotion, dtype: int64

In [ ]:
dd_test['emotion'].value_counts()

joy        1019
other       180
anger       118
sadness     102
Name: emotion, dtype: int64